<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>


<body class="page" style="background-color: #F2F3F5;">
    {% include _browser-upgrade.html %}

    {% include _navigation.html %}


{% comment %}
{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
{% endcomment %}


<div class="container-div">
<div id="main" role="main"  >
 
  
  <!-- Lets add some js and navigation -->

  <div class="container">
    <h1>{{ page.title }}</h1>

        <div class="row">

          <div class="col-md-3 col-sm-4 col-12 m-1">
            <div class="grid-book-cont card">
                <a href="https://docvocate.com/" target="_blank">
                <img src="{{site.url}}/images/portfoli_images/appelio_docvocate.png" title="Python tutorial in 3 hours- part 2" >
                <p> Docvocate, Healthcare claims management
                <small><i>- Healthcare claim management application</i></small>
                </p>
                </a>
                
                <p class="book-type">
                    <small>
                        <a href="https://docvocate.com/"  target="_blank" class="tag">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                          </svg>
                          View Site 
                        </a>
                       </small> 

                       <small>
                      
                        <span type="button" class="tag example"  id="example" data-toggle="popover" title="Technology used and work done" 
                        data-content="
                        Technology used:
                        Python, DJango, Bootstrap, Javascript,ReactJs, PostGres, AWS. 
                        
                        ">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                              </svg>
                          Details
                            </span>

                    </small>
                        
                    
                </p>
            </div>

        </div> <!--close of col-md-3...-->

            <div class="col-md-3 col-sm-4 col-12 m-1">
                <div class="grid-book-cont card">
                    <a href="https://pustakalaya.org" target="_blank">
                    <img src="{{site.url}}/images/portfoli_images/pustak1.png" title="Python tutorial in 3 hours- part 2" >
                    <p> Pustakalaya.org
                    <small><i>- free digital library application</i></small>
                    </p>
                    </a>
                    
                    <p class="book-type">
                        <small>
                            <a href="https://pustakalaya.org"  target="_blank" class="tag">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                              </svg>
                              View Site 
                            </a>
                           </small> 

                           <small>
                          
                            <span type="button" class="tag example"  id="example" data-toggle="popover" title="Technology used and work done" 
                            data-content="
                            Technology used:
                            Python, DJango, Bootstrap, Javascript, VueJs, PostGres, Elasticsearch, Celery, Docker. 
                            # My work
                            :I have worked in this site from start to finsh form design, development to deployment along with two other devlopers
                            ">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                  </svg>
                              Details
                                </span>

                        </small>
                            
                        
                    </p>
                </div>

            </div> <!--close of col-md-3...-->
            



            <div class="col-md-3 col-sm-4 col-12 m-1">
                <div class="grid-book-cont card">
                    <a href="http://www.pythonspark.com" target="_blank">
                    <img src="{{site.url}}/images/portfoli_images/pythonspark_home.png" title="Python tutorial in 3 hours- part 2" >
                    <p>PythonSpark.com
                    <small><i>- online learning platform</i></small>
                    </p>
                    </a>
                    
                    <p class="book-type">
                        <small><a href="http://www.pythonspark.com"  target="_blank" class="tag">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                              </svg>
                              View Site 
                            </a>
                           </small> 

                           <small>
                          
                            <span type="button" class="tag example"  id="example" data-toggle="popover" title="Technology used and work done" 
                            data-content="
                            Technology used:
                            Python, DJango, Bootstrap, Javascript, Linux, Supervisor, Nginx, Gunicorn
                            # My work
                            :I have work this site from start to finsh form design to development to deployment
                            ">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                  </svg>
                              Details
                                </span>

                        </small>
                            
                        
                    </p>
                </div>

            </div> <!--close of col-md-3...-->
            

            <div class="col-md-3 col-sm-4 col-12 m-1">
                <div class="grid-book-cont card">
                    <a href="http://www.dhuni.io" target="_blank">
                    <img src="{{site.url}}/images/portfoli_images/dhuni.png" title="Python tutorial in 3 hours- part 2" >
                    <p>Dhuni app
                    <small><i>- Business Analyst Automation tool</i></small>
                    </p>
                    </a>
                    
                    <p class="book-type">
                        <small><a href="http://www.dhuni.io"  target="_blank" class="tag">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-link" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                              </svg>
                              View Site 
                            </a>
                           </small> 

                           <small>
                          
                            <span type="button" class="tag example"  id="example" data-toggle="popover" title="Technology used and work done" 
                            data-content="
                            Technology used:
                            React(frontend), Javascript, Python, DJango(backend), Bootstrap,Postgres, AWS 
                            # My work
                            :I have work this site from start to finsh form design to development to deployment
                            ">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                  </svg>
                              Details
                                </span>

                        </small>
                            
                        
                    </p>
                </div>

            </div> <!--close of col-md-3...-->
            


    </div> <!--close of row-->
    

  
  <article>
        <div class="article-wrap">
        {{ content }}
        </div><!-- /.article-wrap -->
        {% if site.disqus_shortname and page.comments %}
        <section id="disqus_thread"></section><!-- /#disqus_thread -->
        {% endif %}
  </article>

</div> <!--Close of container -->

</div><!-- /#index -->
</div>

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
    $("[data-toggle=popover]").popover();

    $('.example').click(function(e) {
        console.log(this)
        $('.popover-header').append('<button id="popovercloseid" type="button" class="close">&times;</button>');
        $(this).popover();

    });

$(document).click(function(e) {
   if(e.target.id=="popovercloseid" )
   {
        $('.example').popover('hide');                
   }

});
</script>
</body>

</html>